<!--/usersの画面-->
<h1>This page is users/index page</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "info", user: current_user, book: @book %>
      <%= render "books/newbook", book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table>
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image("80x80") %>
              <% end %>
            </td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", user_path(user.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>