<!--/books/:idの画面-->
<h1>this is books/show view</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user, book: @book %>
      <%= render "newbook", user: @user, book: @book %>
    </div>

    <div class="col-md-9">
      <h4>Book detail</h4>
      <table>
        <tbody>
          <td>ユーザー写真</td>
          <td><%= link_to @book.title, @book_path %></td>
          <td><%= @book.body %></td>
          <td><%= link_to "Edit", edit_book_path %></td>
          <td><%= link_to "Destroy", book_path, method: :delete %></td>
        </tbody>
      </table>
    </div>
  </div>
</div>