<!--/books/:idの画面-->
<div class="row"><%= render "layouts/errors", obj: @book %></div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user, book: @book %>
      <%= render "newbook", book: Book.new %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h4>Book detail</h4>
      <table>
        <tbody>
          <td>
            <%= link_to user_path(@book.user.id) do %>
              <%= image_tag @book.user.get_profile_image("80x80") %></br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book_path %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path %></td>
            <td><%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？" %></td>
          <% end %>
          <td></td>
          <td>コメント数：<%= @book.post_comments.count %></td>
        </tbody>
      </table>
      <table>
      <% @post_comments.each do |comment| %>
        <tbody>
          <td>
          <%= link_to user_path(comment.user.id) do %>
            <%= image_tag comment.user.get_profile_image("80x80") %></br>
            <%= comment.user.name %>
          <% end %>
          </td>
          <td>
            <%= comment.comment %>
          </td>
          <td>
          <% if current_user == comment.user %>
            <%= link_to "Destroy", book_post_comment_path(comment.book, comment), method: :delete %>
          <% end %>
          </td>
        </tbody>
      <% end %>
      </table>
      <%= form_with model: [@book, @post_comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, rows: '5' %>
          <%= f.submit "送信" %>
        </div>
      <% end %>
    </div>
  </div>
</div>